/* --- FOOTER  ---*/
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: top;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 3em;
    background-color: rgb(57, 57, 57);
    color: white;
}

.footer-container1 {
    display: grid;
    justify-content: center;
}

.footer-image {
    height: 50px;
}