/* --- INFORMATION ---*/
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 1em;
}

.info-container1-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-image {
    width: 70%;
    border-radius: 15px;
}

.info-h1 {
    font-family: Verdana;
    font-size: 32pt;
    margin-top: 0;
    margin-bottom: 20px;
}

.info-h2 {
    font-family: Verdana;
    font-size: 24pt;
    margin-top: 0;
    margin-bottom: 20px;
}

.info-p {
    font-family: Verdana;
    font-size: 14pt;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 30px;
}