/* --- TESTIMONIALS ---*/
.testimonials1-container {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

/* --- TESTIMONIALS 2 ---*/
.testimonials2-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 3em;
}

.testimonials2-container1 {
    padding: 5%;
    border-radius: 16px;
    border: 1px solid rgb(183, 183, 183);
}