/* --- GENERAL ---*/
* {
  font-family: Verdana;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

p {
  font-size: 12pt;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 16px;
  background-color: rgb(181, 151, 1);
  border: 0px;
  font-size: 11pt;
  color: white;
}
/*---- HEADER -----*/

header {
  border-bottom: 1px solid rgb(128, 128, 128);
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 5em;
}

header nav a {
  text-decoration: none;
}